{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-secondary" href="{{ path('app_product_index') }}">Cancel</a>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
