{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
   <div class="row">
       <div class="col-lg-3"></div>
       <div class="col-lg-6">
           <h2>Create new Product</h2>

           {{ form_start(form) }}
           {{ form_row(form.name) }}
           <div class="row">
               <div class="col-6">
                   {{ form_row(form.calories) }}
               </div>
               <div class="col-6">
                   {{ form_row(form.unit) }}
               </div>
           </div>
                <div>
                    <a class="btn btn-danger" href="{{ path('app_product_index') }}">Cancel</a>
                    <button class="btn btn-success">Create</button>
                </div>
           {{ form_end(form) }}

       </div>
       <div class="col-lg-3"></div>
   </div>
{% endblock %}
